<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Ready To Speak At WordCamp Asia?</h2>
        <p>
            Are you ready to speak on the biggest WordPress stage in Asia?
        </p>
        <p>
            WordCamp Asia is the largest WordPress event in Asia bringing all local communities together. We are looking for speakers on a wide variety of topics and backgrounds. Are you ready to take to the stage in Bangkok? Do you have a story to tell? Do you have expertise in a specific field to share? We want to hear from you!
        </p>
        <p>
            We are looking for long talks and lightning talks that bring value to our WordPress audience which includes developers, designers, bloggers, business owners, site builders, translators, community organisers, and everything in between.
        </p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Format and Application Process</h2>
        <p><strong>You can apply for the following format:</strong></p>
        <ul>
            <li>Long talks – 45 minutes total (30 mins for talk &amp; 15 mins for questions).</li>
            <li>Lightning talks – 15 minutes total (10 mins for talk &amp; 5 mins for questions)</li>
        </ul>
        <p><strong>These are the key dates you need to know:</strong></p>
        <ol>
            <li>Closing the "Call for speakers" : Sep 25, 2019</li>
            <li>Announcing first batch of speakers : Nov 25, 2019</li>
            <li>Publishing final WordCamp schedule : Dec 13, 2019</li>
        </ol>
        {# <p>
            <a href="https://apply.wp-europe.org/selection">Read more about the speaker selection process.</a>
        </p> #}
        </div>
    </div>
</div>
