{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Speakers Talk Ideas</h2>
    <p>
        Please check WordCamp Asia 2020 website for this.
    <p>
</div>
{% endblock %}
